<!DOCTYPE html>
<html>
<head>
  <title>SortedList</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        The Dragging, Sorting, Deleting, Saving, List
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-right">
        <button id="list-save" class="btn btn-default">Save list</button>
      </form>
    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
